:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
  --white-color: #ffffff;
  --bgc-footer: #2f303a;
  --footer-color: color: rgba(255, 255, 255, 0.6);
  --btn-filter-color: #F5F4FA;
}

/* Base */

body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: var(--main-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: block;
  text-decoration: none;
      font-style: normal;
}

.button {
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--white-color);
}

.title {
  font-size: 14px;
font-weight: 700;
letter-spacing: 0.03em;
text-transform: uppercase;

  color: var(--title-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* Header */

.logo {
margin-right: 93px;

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.logo-accent {
 color: var(--accent-color);
}

.top-menu {
  display: flex;
}

.top-menu .link {
  font-weight: 500;
  color: var(--title-color);
}

.top-menu .link:hover,
.top-menu .link:focus {
  color: var(--accent-color);
}

.top-menu .item:not(:last-child) {
  margin-right: 50px;
}

.link.current {
  color: var(--accent-color);
}

.top-address {
  display: flex;
}

.top-address .link {
  font-weight: 500;
  color: var(--main-color);
}

.top-address .link:hover,
.top-address .link:focus {
  color: var(--accent-color);
}

.top-address .item:not(:last-child) {
  margin-right: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  height: 80px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.address {
  margin-left: auto;
}

/* Герой */

.hero {
  background-color: var(--title-color);
}

.main-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;

  color: var(--white-color);
}

/* Преимущества */

.advantage .text {
  line-height: 1.71;

letter-spacing: 0.03em;
}

/* Чем мы занимаемся */


/* Команда */

.name {
  font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--title-color);
}

/* Footer */

.footer {
  background-color: var(--bgc-footer);
}

.footer-address {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.footer .logo {
  color: var(--white-color);
}

.footer-address .link {
  color: var(--footer-color);
}

.footer-address .contact-address {
    color: var(--white-color);
}


/* Portfolio */

/* filter */

.filter .button {
  background-color: var(--btn-filter-color);
  color: var(--title-color);
  font-weight: 500;
}

.filter .button:hover, .filter .button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  
}

/* Cards */

.name-card {
  font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color);
}

.text-card {
  font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}